:root {
    --highlight-color: red;
    --black: #101010;
    --white: #f7f7f7;
}

* {
    transition: 0.2s;
}

.text__flip {
    color: var(--black) !important;
}

.text__flip--reverse {
    color: var(--white);
}

.bg__flip {
    background: var(--black);
}

.logo {
    filter: invert(1);
}

body {
    background: var(--white);
}

.text__highlight {
    color: var(--highlight-color) !important;
}

.text__highlight--hover:hover {
    color: var(--highlight-color) !important;
}

.prose code::before {
    content: '' !important;
}

.prose code::after {
    content: '' !important;
}

.project {
    box-shadow: none;
}

.project:hover {
    box-shadow: 3px 3px var(--black);
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--black);
    }

    .text__flip {
        color: var(--white) !important ;
    }

    .text__flip--reverse {
        color: var(--black);
    }

    .bg__flip {
        background: var(--white);
    }
    .logo {
        filter: invert(0);
    }

    .project:hover {
        box-shadow: 3px 3px var(--white);
    }
}
